{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pages-Dhirar</title>
</head>
<body>
    <!-- start section nav-bar  -->
    <header id="s0" >
        <div class="contener">
            <div class="logo">DHIRAR</div>
            <div class="nav">
                <nav>
                    <ul>
                        <li><a href="{% url 'index' %}" id="activ">index</a><span id="span"><h1>=<h1></span></li>
                        <li><a href="#s3" data-value="sar" >abaout</a></li>
                        <li><a href="#fot">footer</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="crearfix"></div>
    </header>
    <!-- End section nav-bar -->
</body>
</html>